* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.will {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vecna {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 1;
  pointer-events: none;

  
  -webkit-mask-image: radial-gradient(circle 50px at 60% 60%, white 0%, transparent 70%);
  mask-image: radial-gradient(circle 50px at 60% 60%, white 0%, transparent 70%);
}





